<%- include templates/header_main.ejs %>


    <!-- Page Heading -->
    

    <div class="container-fluid">
        <h1 class="h3 mb-2 text-gray-800">Control de Usuarios</h1>
        <a href="/dashboardAdmin/createUsers" class="btn btn-outline-primary mt-4">
            <i class="material-icons text-sm">add</i>Nuevo</a>
    </div>
    <!--Table-->
    <div class="container-fluid py-4">
        <div class="row">
            <div class="col-12">
                <div class="card my-4">
                    <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                        <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                            <h6 class="text-white text-capitalize ps-3">Tabla de Datos de Usuario</h6>
                        </div>
                    </div>
                    <div class="card-body px-0 pb-2">
                        <div class="table-responsive p-0">
                            <table class="table align-items-center mb-0">
                                <thead>
                                    <tr>
                                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                            ID</th>
                                        <th
                                            class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                            NOMBRE</th>
                                        <th
                                            class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                            USERNAME</th>
                                        <th
                                            class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                            CONTRASEÑA</th>
                                        <th
                                            class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                            CORREO</th>
                                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">ACCIONES</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% for(let usuario=0; usuario < usuarios.length; usuario++) { %>

                                        <tr>
                                            <td class="align-middle">
                                                <%= usuarios[usuario].id %>
                                            </td>
                                            <td class="align-middle">
                                                <%= usuarios[usuario].nombre %>
                                            </td>
                                            <td class="align-middle">
                                                <%= usuarios[usuario].username %>
                                            </td>
                                            <td class="align-middle">
                                                <%= usuarios[usuario].password %>
                                            </td>
                                            <td class="align-middle">
                                                <%= usuarios[usuario].email %>
                                            </td>
                                            <td class="align-middle">
                                                <div class="btn-group-vertical" role="group"
                                                    aria-label="Vertical button group">
                                                    <form class="form-inline" method="get"
                                                        action="/dashboardAdmin/editar/<%= usuarios[usuario].id %>">
                                                        <button class="btn btn-outline-info"
                                                            type="submit">Editar</button>
                                                    </form>
                                                </div>
                                                <div class="btn-group-vertical" role="group"
                                                    aria-label="Vertical button group">
                                                    <form class="form-inline" method="post"
                                                        action="/dashboardAdmin/delete/<%= usuarios[usuario].id %>">
                                                        <button class="btn btn-outline-danger"
                                                            type="submit">Borrar</button>
                                                    </form>
                                                </div>
                                            </td>
                                        </tr>
                                        <% } %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!--End Table-->




    <!-- End of Main Content -->
    <%- include templates/footer_main.ejs %>