<%- include templates/header_main.ejs %>


  <div class="container-fluid py-4">

    <div class="row">
      <div class="col-lg-7 position-relative z-index-2">
        <div class="card card-plain mb-4">
          <div class="card-body p-3">
            <div class="row">
              <div class="col-lg-6">
                <div class="d-flex flex-column h-100">
                  <h2 class="font-weight-bolder mb-0">Estadisticas Generales</h2>
                </div>

              </div>
            </div>
          </div>
        </div>



      </div>
    </div>
  </div>


  <div class="container-fluid py-4">
    
    <div class="row">
      
      <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
        <% for(let dona=0; dona < donacion.length; dona++) { %>
        <div class="card">
          <div class="card-header p-3 pt-2">
            <div class="icon icon-lg icon-shape bg-gradient-dark shadow-dark text-center border-radius-xl mt-n4 position-absolute">
              <i class="material-icons opacity-10">bloodtype</i>
            </div>
            <div class="text-end pt-1">
              <p class="text-sm mb-0 text-capitalize">Total de Donaciones</p>
              <h4 class="mb-0"><%= donacion[dona].total %> Donaciones</h4>
            </div>
          </div>
          <hr class="dark horizontal my-0">
          <div class="card-footer p-3">
            <a href="/dashboardAdmin/donaciones">Ver Detalles</a>
          </div>
        </div>
      </div>
      <% } %>
      <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
        <% for(let usuario=0; usuario < usuarios.length; usuario++) { %>
        <div class="card">
          <div class="card-header p-3 pt-2">
            <div class="icon icon-lg icon-shape bg-gradient-primary shadow-primary text-center border-radius-xl mt-n4 position-absolute">
              <i class="material-icons opacity-10">group</i>
            </div>
            <div class="text-end pt-1">
              <p class="text-sm mb-0 text-capitalize">Total de Usuarios</p>
              <h4 class="mb-0"><%= usuarios[usuario].total %> Usuarios</h4>
            </div>
          </div>
          <hr class="dark horizontal my-0">
          <div class="card-footer p-3">
            <a href="/dashboardAdmin/ctrlUsuarios">Ver Detalles</a>
          </div>
        </div>
        <% } %>
      </div>
      <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
        <% for(let contenedor=0; contenedor < contenedores.length; contenedor++) { %>
        <div class="card">
          <div class="card-header p-3 pt-2">
            <div class="icon icon-lg icon-shape bg-gradient-success shadow-success text-center border-radius-xl mt-n4 position-absolute">
              <i class="material-icons opacity-10">inventory</i>
            </div>
            <div class="text-end pt-1">
              <p class="text-sm mb-0 text-capitalize">Total de Contenedores</p>
              <h4 class="mb-0"><%= contenedores[contenedor].total %> Contenedores</h4>
            </div>
          </div>
          <hr class="dark horizontal my-0">
          <div class="card-footer p-3">
            <a href="/dashboardAdmin/contenedores">Ver Detalles</a>
          </div>
        </div>
        <% } %>
      </div>
      <div class="col-xl-3 col-sm-6">
        <% for(let ubicacion=0; ubicacion < ubicaciones.length; ubicacion++) { %>
        <div class="card">
          <div class="card-header p-3 pt-2">
            <div class="icon icon-lg icon-shape bg-gradient-info shadow-info text-center border-radius-xl mt-n4 position-absolute">
              <i class="material-icons opacity-10">place</i>
            </div>
            <div class="text-end pt-1">
              <p class="text-sm mb-0 text-capitalize">Ubicaciones</p>
              <h4 class="mb-0"><%= ubicaciones[ubicacion].total %> Ubicaciones</h4>
            </div>
          </div>
          <hr class="dark horizontal my-0">
          <div class="card-footer p-3">
            <a href="/dashboardAdmin/direcciones">Ver Detalles</a>
          </div>
        </div>
        <% } %>
      </div>
    </div>




    <script type="text/javascript">

      window.addEventListener('load', function () {


        document.getElementById("usuario").innerHTML = '<%= nombre %>';

      });
    </script>

    <%- include templates/footer_main.ejs %>