<%- include templates/header_dash.ejs %>
    <!-- Begin Page Content -->
    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800">Control de Usuarios</h1>
        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Tabla de Datos de Usuarios</h6>
            </div>

            <div class="container-responsive col-md-12">
                <a href="/createUsers" class="btn btn-outline-primary mt-4">Nuevo</a>
            </div>

            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>NOMBRE</th>
                                <th>NOMBRE DE CUENTA</th>
                                <th>CONTRASEÑA</th>
                                <th>CORREO</th>
                                <th>ACCIONES</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>ID</th>
                                <th>NOMBRE</th>
                                <th>NOMBRE DE CUENTA</th>
                                <th>CONTRASEÑA</th>
                                <th>CORREO</th>
                                <th>ACCIONES</th>
                            </tr>
                        </tfoot>
                        <tbody>

                            <% resultados.forEach((usuarios)=> { %>
                                <tr>
                                    <td>
                                        <%= usuarios.id %>
                                    </td>
                                    <td>
                                        <%= usuarios.nombre %>
                                    </td>
                                    <td>
                                        <%= usuarios.nom_cuenta %>
                                    </td>
                                    <td>
                                        <%= usuarios.password %>
                                    </td>
                                    <td>
                                        <%= usuarios.email %>
                                    </td>
                                    <td>
                                        <a href="/edit" class="btn btn-outline-info">Editar</a>
                                        <a href="/delete" class="btn btn-outline-danger">Eliminar</a>
                                    </td>
                                </tr>
                                <% }) %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container-fluid -->
    <!-- /.container-fluid -->

    </div>
    <!-- End of Main Content -->
    <%- include templates/footer_dash.ejs %>