<%- include ../templates/header_main.ejs %>
<div class="container-fluid">
    <h4 class="m-0 font-weight-bold " style="color: #293a4a;">Clasificación</h4>
    <a href="/dashboardAdmin/createClasificacion" class="btn btn-outline-primary mt-4"><i
            class="material-icons text-sm">add</i>Nueva Clasificación</a>
</div>
<div class="container-fluid py-4">
    <div class="row">
        <div class="col-12">
            <div class="card my-4">
                <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                    <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                        <h6 class="text-white text-capitalize ps-3">Tabla de Clasificaciones</h6>
                    </div>
                </div>
                <div class="card-body px-0 pb-2">
                    <div class="table-responsive p-0">
                        <table class="table align-items-center mb-0">
                            <thead>
                                <tr>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                        ID</th>
                                    <th
                                        class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                        DESCRIPCIÓN</th>
                                    <th
                                        class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                        ACCIONES</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% for(let clas=0; clas < juguetes.length; clas++) { %>

                                    <tr>
                                        <td class="align-middle">
                                            <%= juguetes[clas].id_clas %>
                                        </td>
                                        <td class="align-middle">
                                            <%= juguetes[clas].descripcionClas %>
                                        </td>
                                        <td class="align-middle">
                                            <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
                                                <form class="form-inline" method="get" action="/dashboardAdmin/editarClasificacion/editar/<%= juguetes[clas].id_clas %>">
                                                    <button class="btn btn-outline-info" type="submit">Editar</button>
                                                </form>
                                            </div>
                                            <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
                                                <form class="form-inline" method="post" action="/dashboardAdmin/clasificacion/delete/<%= juguetes[clas].id_clas %>">
                                                    <button class="btn btn-outline-danger" type="submit">Borrar</button>
                                                </form>
                                            </div>
        
                                        </td>
                                    </tr>
                                    <% } %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--End Table-->
</div>
    <%- include ../templates/footer_main.ejs %>